html,
body {
  background-color: #cfcfcf;
}

* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.app {
  max-width: 600px;
  margin: auto;
  margin-top: 5em;
  font-family: helvetica, arial, sans-serif;
  padding: 2em;
  border: 5px solid #ffffff;
  border-radius: 10px;
  background: white;
}

table {
  width: 100%;
}
